{% extends 'layouts/app.html' %}
{% load static %}
{% block title %}Dashboard{% endblock %}

{% block content %}

<section class="pt-1">
    <div class="container pl-5 pr-5">
        <h3 class="">For Your Listening Pleasure!</h3>
        <div class="masonry">
            <div class="masonry__container row masonry--active" style="position: relative; height: 445.617px;">
                <div class="col-md-3 masonry__item" style="position: absolute; left: 0px; top: 0px;">
                    <div class="card card-1 boxed boxed--sm boxed--border ">
                        <div class="card__body p-0 m-0" style="border: none;">
                            <a href="#">
                                <img src="https://i.scdn.co/image/ab67706f00000002ef48a5a9c020069725ca9ee2" alt="Image" class="border--round">
                            </a>
                            <h5 class="mb-0">REM</h5>
                            <p class="text-gray" style="line-height: 18px; font-size: 13px;">
                                Get your brain sleep waves just right
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 masonry__item" style="position: absolute; left: 0px; top: 0px;">
                    <div class="card card-1 boxed boxed--sm boxed--border ">
                        <div class="card__body p-0 m-0" style="border: none;">
                            <a href="#">
                                <img src="https://i.scdn.co/image/ab67706f000000029998806114fe1a0de9e27316">
                            </a>
                            <h5 class="mb-0">REM</h5>
                            <p class="text-gray" style="line-height: 18px; font-size: 13px;">
                                Get your brain sleep waves just right
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 masonry__item" style="position: absolute; left: 0px; top: 0px;">
                    <div class="card card-1 boxed boxed--sm boxed--border ">
                        <div class="card__body p-0 m-0" style="border: none;">
                            <a href="#">
                                <img src="https://i.scdn.co/image/ab67706f00000002ef48a5a9c020069725ca9ee2" alt="Image" class="border--round">
                            </a>
                            <h5 class="mb-0">REM</h5>
                            <p class="text-gray" style="line-height: 18px; font-size: 13px;">
                                Get your brain sleep waves just right
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 masonry__item" style="position: absolute; left: 0px; top: 0px;">
                    <div class="card card-1 boxed boxed--sm boxed--border ">
                        <div class="card__body p-0 m-0" style="border: none;">
                            <a href="#">
                                <img src="https://i.scdn.co/image/ab67706f00000002ef48a5a9c020069725ca9ee2" alt="Image" class="border--round">
                            </a>
                            <h5 class="mb-0">REM</h5>
                            <p class="text-gray" style="line-height: 18px; font-size: 13px;">
                                Get your brain sleep waves just right
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!--end masonry__container + row -->
        </div>
        <!--end masonry-->
    </div>
    <!--end of container-->
</section>

{% endblock %}