{% extends 'layouts/app.html' %}
{% load static %}
{% block title %}Songs{% endblock %}

{% block content %}
<section class="pt-1">
    <div class="container pl-5 pr-5">
        <h3 class="">Available Songs!</h3>
        <div class="masonry">
            <div class="masonry__container row masonry--active" style="position: relative; height: 445.617px;">
                {% for i in songs %}
                <div class="col-md-3 masonry__item" style="position: absolute; left: 0px; top: 0px;">
                    <div class="card card-1 boxed boxed--sm boxed--border ">
                        <div class="card__body p-0 m-0" style="border: none;">
                            <a href="/app/songs/play/{{ i.slug }}">
                                <img src="/media/{{ i.cover }}" alt="Image" class="border--round">
                            </a>
                            <h5 class="mb-0"><a href="/app/songs/play/{{ i.slug }}">{{i.title}}</a></h5>
                            <p class="text-gray" style="line-height: 18px; font-size: 13px;">
                                {{i.description}}
                            </p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <!--end masonry__container + row -->
        </div>
        <!--end masonry-->
    </div>
    <!--end of container-->
</section>


{% endblock %}