{% load static %}
<script src="{% static 'js/app/jquery-3.1.1.min.js' %}"></script>
<script src="{% static 'js/app/flickity.min.js' %}"></script>
<script src="{% static 'js/app/easypiechart.min.js' %}"></script>
<script src="{% static 'js/app/parallax.js' %}"></script>
<script src="{% static 'js/app/typed.min.js' %}"></script>
<script src="{% static 'js/app/datepicker.js' %}"></script>
<script src="{% static 'js/app/isotope.min.js' %}"></script>
<script src="{% static 'js/app/ytplayer.min.js' %}"></script>
<script src="{% static 'js/app/lightbox.min.js' %}"></script>
<script src="{% static 'js/app/granim.min.js' %}"></script>
<script src="{% static 'js/app/jquery.steps.min.js' %}"></script>
<script src="{% static 'js/app/countdown.min.js' %}"></script>
<script src="{% static 'js/app/twitterfetcher.min.js' %}"></script>
<script src="{% static 'js/app/spectragram.min.js' %}"></script>
<script src="{% static 'js/app/smooth-scroll.min.js' %}"></script>
<script src="{% static 'js/app/scripts.js' %}"></script>

<script>
    $(document).ready(function () {
        $('.tab__content section.switchable').mouseenter(function () {
            $(this).append('<div class="switchable-toggle label">Switch Sides</div>');
        });
        $('.tab__content section.switchable').mouseleave(function () {
            $(this).find('.switchable-toggle').remove();
        });
        $(document).on('click', '.switchable-toggle', function () {
            $(this).closest('section').toggleClass('switchable--switch');
        });
    });
</script>